#textdomain wesnoth-dw

#define WEAPON_SPECIAL_STUN
    [damage]
        id=tail_stun
        name= _ "stun"
        description= _ "This attack hits so hard that the opponent is dazed and can no longer enforce a zone of control. The effect wears off on the opponent’s next turn."
        special_note=_ "This unit is able to stun its enemies, disrupting their zones of control."
        multiply=1
    [/damage]
#enddef

[lua]
    code=<<
    local _ = wesnoth.textdomain "wesnoth-dw"
    local old_unit_status = wesnoth.interface.game_display.unit_status

    function wesnoth.interface.game_display.unit_status()
        local u = wesnoth.interface.get_displayed_unit()
        if not u then return {} end
        local s = old_unit_status()

        if u.status.stunned then
            table.insert(s, { "element",  { image = "misc/stunned-status-icon.png",
                                            tooltip = _"stunned: This unit is stunned. It cannot enforce its Zone of Control."
            } } )
        end

        return s
    end
    >>
[/lua]
